* {
    margin: 0px;
    padding: 0px;
}


div#UI-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

div#shapes_list_container {
    box-sizing: border-box;
    border-right: 3px solid black;
    width: 25%;
    height: 100vh;
    overflow-y: auto;
}

div#shapes_list_container h1 {
    border-bottom: 3px solid black;
    text-align: center;
}

div#shapes_list div {
    border-bottom: 1px solid black;
    padding: 5px;
}

div#shapes_list div h1 {
    border: none;
    font-size: 22px;
    text-align: left;
}

div#active_shape {
    background-color: rgba(0, 0, 255, 0.3);
}


div#edit_window_container {
    position: relative;
    width: 75%;
}

div#edit_window {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


div#draw_mode:hover {
    cursor: pointer;
}

div#draw_mode {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 3px;
}

div#draw_mode p {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    line-height: 80%;
    font-size: 25px;
}

div#draw_mode p#current_mode {
    background-color: rgba(0, 0, 255, 0.7);
}
