* {
    margin: 0px;
    padding: 0px;
}


div#draw_mode:hover {
    cursor: pointer;
}

div#draw_mode {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 3px;
}

div#draw_mode p {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    line-height: 80%;
    font-size: 25px;
}

div#draw_mode p#current_mode {
    background-color: rgba(0, 0, 255, 0.7);
}


div#edit_window {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
